// Gilroy
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Light.ttf') format('TrueType');
    font-weight: 300;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Regular.ttf') format('TrueType');
    font-weight: 400;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Medium.ttf') format('TrueType');
    font-weight: 500;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-SemiBold.ttf') format('TrueType');
    font-weight: 600;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Bold.ttf') format('TrueType');
    font-weight: 700;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Black.ttf') format('TrueType');
    font-weight: 900;
}

// Baloo
@font-face {
    font-family: 'Baloo';
    src: url('../fonts/Baloo/Baloo-Regular.ttf') format('TrueType');
    font-weight: 400;
}

// Bellefair
@font-face {
    font-family: 'Bellefair';
    src: url('../fonts/Bellefair/Bellefair-Regular.ttf') format('TrueType');
    font-weight: 400;
}
