// Grid Breakpoints
$breakpoints: (
    xs2: 350px,
    xs: 450px,
    xsm2: 400px,
    xsm: 480px,
    sm: 576px,
    md: 768px,
    md2: 900px,
    lg: 992px,
    xl: 1200px,
    xxl: 1320px,
    xxxl: 1400px,
);

// fonts
$font: 'Gilroy', sans-serif;
$font-2: 'Baloo', sans-serif;
$font-3: 'Bellefair', sans-serif;

// colors
$body-bg: #f5f5f5;
$body-bg-2: #fafafa;
$body-clr: #160141;
$white: #fff;
$black: #000;
$clr: #e14594;
$clr-2: #7045af;
$clr-3: #2b3595;
$clr-4: #182952;
$clr-5: #d0f1cf;
$clr-6: #41c5d3;
$clr-7: #09a8fa;
$clr-8: #616eef;
$clr-9: #233b6e;
$clr-10: #415f9d;
$clr-11: #d3d6db;
$clr-12: #eff0f4;
$clr-13: #625757;
$clr-14: #9d8f8f;
$clr-15: #bcbab8;
$clr-16: #952e4b;
$clr-17: #ff5d5d;
$clr-18: #fbe4c9;
$clr-19: #84b9ef;
$clr-20: #c9cdf7;
$clr-21: #f5f6f8;
$clr-22: #160056;
$clr-23: #9fa9ff;
$clr-24: #a9eef2;
